<html>
<head>
<title>	First flask app </title>
<link rel="stylesheet" href='/static/css/all.css' />
</head>
<body>
<p> {{error}} </p>
<form action="/login" method="POST" class="modal-content animate">
	<div class="container">
	<div class="logo"><a href="/"><img src="/static/images/logo_ltv.png"></a></div>
	<h2 style = "color: forestgreen;margin-left: 30%;" >Login Form</h2>
	<p>Email: <input type="text" name="email"></p>
	<p>Password: <input type="password" name="password"></p>
	<button type="submit">LOGIN</button>
	<br>
	New User ? <a href="/registerationForm">Register here</a><br>
	<a href="/resetpwd">Forget Password ?</a><br>
	<a href="/">HOME</a>

    </div>

</form>

</body>
</html>

