<!DOCTYPE HTML>
<html>
	<head>
		<!-- basic -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- mobile metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<!-- site metas -->
		<title>ltv multitrade</title>
		<meta name="keywords" content="">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- bootstrap css -->
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
		<!-- style css -->
		<link rel="stylesheet" type="text/css" href="/static/css/style3.css">
		<!-- Responsive-->
		<link rel="stylesheet" href="/static/css/responsive.css">
		<!-- fevicon -->
		<link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
		<!-- Scrollbar Custom CSS -->
		<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
		<!-- Tweaks for older IEs-->
		<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
		<!-- font awesome -->
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--  -->
		<!-- owl stylesheets -->
		<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
		<link rel="stylesoeet" href="/static/css/owl.theme.default.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
  
		<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>
  
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  
          <table id="tableId" class="table table-condensed responsive">
		  </table>
  
	 </head>
<body>
	<div class="banner_bg_main">
		<!-- header top section start -->
		<div class="container">
		   <div class="header_section_top">
			  <div class="row">
				   <div class="col-sm-12">
					   <div> <h2 style="color: aliceblue;text-align: center;"> USERS DATA </h2></div>
				   </div>
				   </div>
			   </div>
		   </div>
	   </div>
	   <div class="logo_section">
		   <div class="container">
			  <div class="row">
				 <div class="col-sm-12">
					<div class="logo"><a href="/"><img src="/static/images/logo_ltv.png"></a></div>
				 </div>
				</div>
			  </div>
		   </div>
		</div>
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
			  <li class="breadcrumb-item"><a href="/dashboard"> < Back</a></li>
			</ol>
		  </nav>
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
      <table class="table table-hover table-bordered">
	   <thead class="thead-dark">
	   <tr id="userdata">
		   <th>UID</th>
		   <th>E-MAIL</th>
		   <th>F NAME</th>
		   <th>L NAME</th>
		   <th>ADD L1</th>
		   <th>ADD L2</th>
		   <th>PIN CODE</th>
		   <th>CITY</th>
		   <th>STATE</th>
		   <th>COUNTRY</th>
		   <th>MOBILE</th>
		   <th>RCODE</th>
		   <th>UCODE</th>
		   <th>Actions</th>
	   </tr>
	   </thead>
	   <tbody>
	   {% for itemData in data %}
	   <tr id="userdata1">
		   <td>{{itemData[0]}}</td>
		   <td>{{itemData[2]}}</td>
		   <td>{{itemData[3]}}</td>
		   <td>{{itemData[4]}}</td>
		   <td>{{itemData[5]}}</td>
		   <td>{{itemData[6]}}</td>
		   <td>{{itemData[7]}}</td>
		   <td>{{itemData[8]}}</td>
		   <td>{{itemData[9]}}</td>
		   <td>{{itemData[10]}}</td>
		   <td>{{itemData[11]}}</td>
		   <td>{{itemData[12]}}</td>
		   <td>{{itemData[13]}}</td>
		   <td><span class="badge badge-light"><a href ="/removeUsr?userId={{itemData[0]}}">Delete User</a></span> </td>
	   </tr>
	   {% endfor %}                     
	   </tbody>
   </table>
    </div>
	<div class="col-sm-1"></div>
</div>
</body>
</html>
